.form__block {


  border-bottom: var(--border-solid-small) var(--color-athens-gray);
}

.wrapper {
  padding: 15px 20px 25px;
}

.title {
  padding-bottom: 13px;
}


@media screen and (min-width: 768px) {
  .wrapper {
    width: 50%;
  }
}
