.form__block {
  border-bottom: var(--border-solid-small) var(--color-athens-gray);
}

.wrapper {
  padding: 15px 20px 21px;
}

.form__block:not(:nth-child(1)) .wrapper {
  padding-block: 21px 22px;
}

.form__block:nth-child(3) .wrapper {
  padding-block: 21px 25px;
}

.form__block:nth-child(4) .wrapper {
  padding-bottom: 22px;
}

.title {
  padding-bottom: 10px;
}

.form__block:nth-child(3) .title {
  padding-bottom: 12px;
}

.form__block:nth-child(4) .title {
  padding-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 52%;
  }

  .wrapper {
    padding-block: 26px 31px;
  }

  .form__block:not(:nth-child(1)) .wrapper {
    padding-block: 31px 32px;
  }

  .form__block:nth-child(3) .wrapper {
    padding-bottom: 35px;
  }

  .form__block:last-child .wrapper {
    padding-block: 31px 32px;
  }

  .form__block:nth-child(2) .title {
    padding-bottom: 9px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 25px 30px 30px;
  }

  .form__block:last-child .wrapper {
    padding-block: 33px 31px;
  }

  .form__block:nth-child(3) .title {
    padding-bottom: 13px;
  }
  
  .form__block:nth-child(4) .title {
    padding-bottom: 11px;
  }
  
}
