.content {
  margin-bottom: 30px;
}

.items__common {
  margin-bottom: 10px;
}

.item {
  margin-bottom: 13px;
}

.item:last-child {
  margin-bottom: 0;
}

.buttons {
  padding-inline: 20px;
  display: flex;
}

.buttons__item {
  margin-right: 5px;
}

.btn-small {
  padding: 9px 12px;
}

.btn-transparent {
  padding: 10px 11px ;
  
  color: var(--color-regent-gray);

  background-color: transparent;
  border: none;
}