.content {
  margin-bottom: 20px;
}

.item__common {
  margin-bottom: 10px;
}

.item__common:last-child {
  margin-block: 13px 0;
}

.item__contacts {
  margin-bottom: 12px;
}

.item__checkbox {
  margin-bottom: 12px;
}

.item__radio {
  margin-bottom: 12px;
}

.item__radio:last-child,
.item__checkbox:last-child {
  margin-bottom: 0;
}

.item {
  margin-bottom: 13px;
}

.item:last-child {
  margin-bottom: 0;
}

.buttons {
  padding-inline: 20px;
  display: flex;
}

.buttons__item {
  margin-right: 5px;
}

.btn-small {
  padding: 11px 12px;
}

.btn-transparent {
  padding: 12px 10px;

  color: var(--color-regent-gray);

  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .content {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .buttons {
    padding-inline: 30px;
  }
}