.footer {
  padding: var(--padding-20) 0;

  color: var(--color-white);

  background-color: var(--color-firefly);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__social {
  padding-bottom: 21px;
}

.footer__social__icons {
  display: flex;
  width: 100%;
}

.footer__social__icons > .icon {
  margin-right: 20px;
}

.footer__social__icons > .icon:last-child {
  margin-right: 0;
}

.footer__police {
  position: relative;

  display: flex;
  width: 100%;

  padding: 20px 0;
}

.footer__police::before,
.footer__police::after {
  position: absolute;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: var(--color-black);
  content: "";
}

.footer__police::before {
  top: -2px;
}

.footer__police::after {
  bottom: 1px;
}

.footer__police__list {
  width: 100%;

  text-align: center;

  list-style: none;
}

.footer__police__list__item {
  margin-bottom: 20px;

  transition: opacity 0.2s ease-in-out;
}

.footer__police__list__item:first-child {
  margin-bottom: 22px;
}

.footer__police__list__item:nth-child(2) {
  margin-bottom: 21px;
}

.footer__police__list__item:last-child {
  margin-bottom: 1px;
}

.footer__police__list__item:hover {
  opacity: 0.7;
}

.footer__logo {
  padding-top: 20px;

  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    min-height: 100px;
  }

  .footer__wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer__social {
    padding-bottom: 6px;
  }

  .footer__police {
    padding: 0;
    margin-left: 37px;
  }

  .footer__police::after,
  .footer__police::before {
    display: none;
  }

  .footer__police__list {
    display: flex;
    align-items: center;
  }

  .footer__police__list__item {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .footer__police__list__item:first-child {
    margin-bottom: 4px;
    padding-left: 0;
  }

  .footer__police__list__item:nth-child(2) {
    margin-bottom: 4px;
    padding-left: 1px;
  }

  .footer__police__list__item:last-child {
    margin-bottom: 4px;
    padding-left: 1px;
  }

  .footer__logo {
    padding-top: 0;
  }
}

@media screen and (min-width: 1240px) {
  .footer__social {
    padding-bottom: 0;
    margin-right: 45px;
  }

  .footer__police__list__item:first-child {
    padding-left: 0;
    margin-left: -1px;
    margin-top: 5px;
  }

  .footer__police__list__item:last-child {
    padding-left: 0;
    margin-left: 1px;
    margin-top: 5px;
  }

  .footer__police__list__item:nth-child(2) {
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 1px;
    margin-left: 1px;
  }

  .footer__police::before {
    top: -12px;
    left: -42px;

    display: block;
    width: 1px;
    height: 40px;
  }

  .footer__logo {
    padding-top: 3px;
  }
}
