.search {
  display: flex;

  padding: 10px 0 9px;
}

.search__btn {
  display: block;
  width: 16px;
  height: 15px;

  margin: 2px 6px 0 0;

  cursor: pointer;
  background-color: inherit;
  border: none;
}

.search__btn_icon {
  width: inherit;
  height: inherit;
}

.search__input {
  width: 100%;

  margin-top: 2px;

  border: none;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder,
.search__input::-moz-placeholder {
  color: var(--color-regent-gray);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .search__btn {
    margin: 5px 6px 0 1px;
  }

  .search__input {
    margin-top: 4px;
  }
}

@media screen and (min-width: 1240px) {
  .search__btn {
    margin: 0px 7px 0 -1px;
  }

  .search__input {
    margin: 0 0 0 -1px;
  }
}
