.textarea {
  overflow: auto;

  height: 20px;
  max-height: 100px;

  resize: none;
  border: none;
}

.textarea:focus {
  outline: none;

  border-bottom: var(--border-solid-small) var(--color-cornflower-blue);
}
