.block {
  padding-top: 1px;
}

.input {
  width: calc(100% - 121px);
  padding-left: 1px;

  color: var(--color-outer-space);

  border: none;
}

.input:focus {
  padding-block: 2px 5px;
  
  outline: none;

  border-bottom: var(--border-solid-small) var(--color-cornflower-blue);
}

.input::placeholder {
  color: var(--color-regent-gray);
}

.error {
  color: var(--color-flory);
}

.error:focus {
  border-bottom-color: var(--color-flory);
}

.error::placeholder {
  color: var(--color-flory);
}

