.main__title {
  padding-bottom: 39px;
}

.main__tabs_wrapper {
  display: flex;
  flex-direction: column;

  margin-top: -1px;
}

.main__content {
  padding-top: 26px;
}

.accent {
  color: var(--color-cornflower-blue);
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main__title {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1240px) {
  .main {
    padding-bottom: 70px;
  }
  
  .main__title {
    padding-bottom: 59px;
  }
}
