.item {
  margin-bottom: 22px;

  cursor: pointer;
}

.active {
  font-weight: 700;
  color: var(--color-cornflower-blue);
}

@media screen and (min-width: 1280px) {
  .nav {
    border: var(--border-solid-small) var(--color-athens-gray);
  }

  .item {
    margin-bottom: 0;

    border-bottom: var(--border-solid-small) var(--color-athens-gray);
  }

  .link {
    display: block;
    padding: 18px 29px 21px;

    line-height: 19.5px;
  }
}
