.item {
  padding-bottom: 22px;

  cursor: pointer;
}

.active {
  font-weight: 700;
  color: var(--color-cornflower-blue);
}

@media screen and (min-width: 1280px) {
  .nav {
    border: var(--border-solid-small) var(--color-athens-gray);
  }

  .item {
    padding: 18px 29px 23px;

    border-bottom: var(--border-solid-small) var(--color-athens-gray);
  }

  .item:nth-child(4) {
    padding-top: 19px;
  }

  .item:last-child {
    padding-top: 20px;
    border-bottom: none;
  }
}
