{% block header %}
	<header class="header">
		<div class="header__wrapper container">
			<div class="header__right">
				<div class="header__logo">
					<a href="#">
						{% include "blocks/_logo.twig" %}
					</a>
				</div>
				<div class="header__search">
					{% include "blocks/_search.twig" %}
				</div>
			</div>
			<div class="header__user">
				{% include "blocks/_user.twig" %}
			</div>
		</div>
	</header>
{% endblock %}
