{% if is_dark %}
  <div class="logo">
    <img class="logo__icon" src="/src/assets/images/icons/logo-default.svg" alt="логотип"/>
  </div>
{% else %}
  <div class="logo">
    <img class="logo__icon" src="/src/assets/images/icons/logo-light.svg" alt="логотип"/>
  </div>
{% endif %}
