{% block search %}

	<div>
		<form class="search" onsubmit="openSearch(query)">
			<button type="submit" class="search__btn" onclick="">
				<img src="src/assets/images/icons/search.svg" alt="поиск" />
			</button>
			<input type="text" placeholder="Поиск" name="query" class="search__input"/>
		</form>

		<script>
			const openSearch = (query) => {
				const value = query.value;
				const searchURL = "https://www.google.com/search?q=" + encodeURIComponent(value);
				window.open(searchURL, "_blank");
			}
		</script>

	</div>

{% endblock %}
