<form class="search" action="https://www.google.com/search" method="get" target="_blank">
	<button class="search__btn" type="submit">
		<img class="search__btn_icon" src="src/assets/images/icons/search.svg" alt="поиск"/>
	</button>
	<input class="search__input" type="text" placeholder="Поиск" name="q"/>
</form>

