{% set icons = [
  {urlImg: "src/assets/images/icons/youtube.svg", alt: "youtube"}, 
  {urlImg: "src/assets/images/icons/instagram.svg", alt: "instagram"}]
%}

{% block socials %}

	{% for icon in icons %}
		<div class="socials__icon">
			<a href="#" target="_blank">
				<img src="{{icon.urlImg}}" alt="{{icon.alt}}"/>
			</a>
		</div>
	{% endfor %}

{% endblock %}
