{% block user %}

	<a href="#" class="user">
		<div class="user__wrapper">
			<div class="user__name">
				<p>Александра</p>
			</div>
			<div class="user__img">
				<img src="src/assets/images/ava.png" alt="аватарка пользователя"/>
			</div>
		</div>	
	</a>

{% endblock %}
