{% block user %}

	<div class="user">
		<div class="user__wrapper">
			<div class="user__name">
				<p>Александра</p>
			</div>
			<div class="user__img">
				<img src="https://img.freepik.com/free-photo/funny-young-beautiful-woman-hair-curlers-towel-posing-beauty-cosmetology-spa_176420-14123.jpg?w=1060&t=st=1719918983~exp=1719919583~hmac=a2f38bb1b7e7111b2fec3f93a3de7043447641f58866dfd9e5b0a6b79b2e9890" alt="user image"/>
			</div>
		</div>	
	</div>

{% endblock %}
