{% block user %}

  <a href="#" class="user">
    <div class="user__wrapper">
      <div class="user__name_wrapper">
        <p class="user__name">Александра</p>
      </div>
      <div class="user__img_wrapper">
        <img class="user__img" src="src/assets/images/ava.png" alt="аватарка пользователя"/>
      </div>
    </div>	
  </a>

{% endblock %}
