:root {
  /* Размер текста*/
  --font-size-title-mobile: 30px;
  --font-size-title-desktop: 36px;
  --font-size-subtitle: 24px;
  --font-size-title-small: 18px;
  --font-size-text-base: 15px;
  --font-size-text-small: 13px;

  /* Height */
  --header-height-mobile: 105px;
  --header-height-desktop: 66px;

  /* Цвета */
  --color-white: #ffffff;
  --color-seashell: #f1f1f1;
  --color-mercury: #e8e8e8;
  --color-wild-sand: #f5f5f5;
  --color-athens-gray: #e5e6e9;
  --color-silver: #c4c4c4;
  --color-silver-sand: #c6c7c9;
  --color-periwinkle-gray: #c8daea;
  --color-alto: #d9d9d9;
  --color-regent-gray: #8591a5;
  --color-outer-space: #2e3640;
  --color-firefly: #10242d;
  --color-bunker: #121920;
  --color-black: #000000;
  --color-sail: #a1d5f6;
  --color-cornflower-blue: #4c8bf7;
  --color-royal-blue: #4d85e6;
  --color-flory: #f37575;

  /* Радиусы*/
  --border-radius-small: 3px;

  /* Границы */
  --border-solid-small: 1px solid;

  /* Тень */
  --box-shadow: 0 2px 6px rgba(from var(--color-black) r g b / 0.03);

  /* Брекпоинты media*/
  --breakpoint-mobile-min: 375px;
  --breakpoint-mobile-max: 767px;
  --breakpoint-tablet-min: 768px;
  --breakpoint-tablet-max: 1279px;
  --breakpoint-desktop-min: 1280px;
}
