@import url("normalize.css");
@import url("./_variables.css");
@import url("./_fonts.css ");
@import url("./_generic.css");

@import url("./blocks/_header.css");
@import url("./blocks/_logo.css");
@import url("./blocks/_user.css");
@import url("./blocks/_search.css");
@import url("./blocks/_socials.css");
@import url("./blocks/_footer.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

.container {
  width: 100%;

  margin: 0 auto;
  padding: 0 20px;
}

.container-app {
  max-width: var(--breakpoint-mobile-min);
}

.content {
  flex: 1 0 auto;

  margin-top: var(--header-height-mobile);
}

.app {
  padding: 11px 0 40px;
}

.hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .content {
    margin-top: var(--header-height-desktop);
  }

  .container-app {
    max-width: 768px;
  }

  .app {
    padding: 17px 0 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1240px;
    padding: 0;
  }

  .container-app {
    max-width: 1240px;
  }

  .content {
    margin-top: 86px;
  }

  .app {
    padding-bottom: 70px;
  }
}
