.list__item,
.list__item-full:nth-child(n) {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .list__item:is(:nth-child(1), :nth-child(3n + 1)) {
    margin-right: 10px;
  }

  .list__item:is(:nth-child(2), :nth-child(3n + 2)) {
    margin-left: 10px;
  }

  .list__item:nth-child(3n) {
    grid-column: 1 / -1;
    margin-inline: 0;
  }

  .list-full {
    display: block;
  }

  .list__item-full:nth-child(n) {
    margin-inline: 0;
  }
}

@media screen and (min-width: 1280px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }

  .list__item:nth-child(3n) {
    grid-column: 1 / -2;
  }

  .list__item:nth-child(9n) {
    grid-column: 2 / -1;
  }

  .list__item:nth-child(3) {
    grid-row: 2;
  }

  .list__item,
  .list__item:nth-child(n) {
    margin-inline: 0;
  }

  .list__item:is(:nth-child(9n + 1), :nth-child(9n + 8)) {
    margin-right: 13px;
  }

  .list__item:is(:nth-child(9n + 3), :nth-child(9n + 6)) {
    margin-right: 7px;
  }

  .list__item:is(:nth-child(9n + 4), :nth-child(9n + 5), :nth-child(9n + 7), ) {
    margin-left: 13px;
  }

  .list__item:nth-child(9n + 2) {
    margin-inline: 6.5px;
  }

  .list__item:nth-child(9n) {
    margin-left: 6px;
  }

  .list-full {
    display: block;
  }

  .list__item-full {
    margin-inline: 0;
  }
}
