.title {
  margin-bottom: 10px;

  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.title__subtitle {
  line-height: 22.5px;

  transform: translateY(-0.4px);
}

@media screen and (min-width: 768px) {
  .title {
    width: 55%;

    margin-bottom: 20px;
  }

  .title__subtitle {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .title__subtitle {
    width: 35%;
  }
}
