.option_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 16px;
}

.checkmark {
  margin-top: -3px;
  margin-inline: -8px -2px;
  color: var(--color-outer-space);
}

.option__label {
  margin-left: 8px;
}
