/* DEFAULT */
.card {
  position: relative;
  overflow: hidden;

  display: flex;
  width: 100%;
  height: 369px;

  background-color: var(--color-white);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow);
}

.card__wrapper {
  width: 100%;
}

.card__wrapper_img {
  position: relative;

  height: 159px;
}

.card__shading {
  display: none;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__favorite {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  cursor: pointer;
  background-color: var(--color-white);
  border-bottom-left-radius: var(--border-radius-small);
}

.card__favorite_img {
  width: 22px;
  height: 21px;
}

.card__content {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 20px;
}

.card__content_wrapper {
  flex: 1 0 auto;

  margin-bottom: 20px;
}

.card__content_wrapper_title {
  padding-bottom: 11px;
}

.card__content_wrapper_text {
  height: 100%;
  max-height: 68px;
}

.card__content_title {
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 27px;
}

.card__content_text {
  overflow: hidden;

  line-height: 22.5px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;

  margin-top: 1px;

  color: var(--color-regent-gray);
  font-size: var(--font-size-text-small);
}

.card__footer_date_text {
  display: none;
}

.card__footer_icons {
  display: flex;
}

/* CARD WIDTH BACKGROUND IMAGE */

.card__wrapper_img-view-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;
}

.card__shading-view-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;

  display: block;
  width: 100%;
  height: 100%;

  background-color: var(--color-bunker);
  opacity: 0.7;
}

.card__img-view-background {
  width: 100%;
  height: 100%;
}

.card__favorite-view-background {
  background-color: transparent;
}

.card__content-view-background {
  position: relative;
  bottom: 0;
  z-index: 20;

  height: calc(100% - 159px);

  margin-top: 158px;

  color: var(--color-white);
}

.card__content_text-view-background,
.card__footer-view-background {
  color: var(--color-white);
}

.card__content_text-view-background {
  max-height: 50px;
}

.card__content_wrapper_title-view-background {
  padding: 14px 0 9px;
}

.card__footer-view-background {
  position: relative;
  z-index: 20;
}

.card__content-view-row {
  height: calc(100% - 159px);
}

@media screen and (min-width: 768px) {
  .card__wrapper_img {
    height: 159px;
  }

  .card__wrapper_img-view-background {
    height: 100%;
  }

  .card__content_wrapper_text-view-background {
    min-height: auto;
  }
  /* VIEW ROW */
  .card-view-row {
    height: 206px;
  }

  .card__wrapper-view-row {
    display: flex;
    flex-direction: row-reverse;
  }

  .card__wrapper-view-row-reverse {
    flex-direction: row;
  }

  .card__wrapper_img-view-row {
    flex: none;

    width: 206px;
    height: 100%;
  }

  .card__wrapper_img-view-row-reverse {
    position: unset;
  }

  .card__favorite-view-row {
    top: 9px;
    right: calc(105% + 1px);
  }

  .card__favorite-view-row-reverse {
    right: 11px;
  }

  .card__content-view-row {
    height: 100%;

    padding: 20px;
  }

  .card__wrapper-view-row:nth-child(n2 + 2) {
    flex-direction: row;
  }

  .card__footer_date_text-view-row {
    position: relative;

    display: inline;

    margin-left: 7px;
    padding-left: 6px;
  }

  .card__footer_date_text-view-row::after {
    position: absolute;
    left: 0;
    top: 3px;

    width: 1px;
    height: 10px;

    content: "";
    background-color: var(--color-athens-gray);
  }
}

@media screen and (min-width: 1280px) {
  .card__footer {
    margin-top: 2px;
  }

  .card__wrapper_img-view-row {
    width: 368px;
  }

  .card__favorite-view-row {
    right: calc(103% - 2px);
    top: 11px;
  }

  .card__favorite-view-row-reverse {
    right: 11px;
  }
}
