.main__title {
  padding-bottom: 39px;
}

.main__tabs_wrapper {
  display: flex;

  margin-top: -1px;

  border-bottom: var(--border-solid-small) var(--color-cornflower-blue);
}

.main__content {
  padding-top: 26px;
}

.main__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-bottom: 20px;
}

.accent {
  color: var(--color-cornflower-blue);
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .main__title {
    margin-bottom: 9px;
  }

  .main__wrapper_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .main__btn {
    width: 155px;
  }
}

@media screen and (min-width: 1240px) {
  .main {
    padding-bottom: 70px;
  }
  
  .main__title {
    padding-bottom: 59px;
  }
}
