.title {
  margin-bottom: 10px;

  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.subtitle {
  line-height: 22.5px;
  color: var(--color-outer-space);

  transform: translateY(-0.4px);
}

@media screen and (min-width: 768px) {
  .title {
    width: 55%;

    margin-bottom: 20px;
  }

  .subtitle__wrapper {
    max-width: 450px;
  }
}
