.app {
  padding: 11px 0 40px;
}

.app__title {
  padding-bottom: 39px;
}

.app__links_wrapper {
  display: flex;

  border-bottom: var(--border-solid-small) var(--color-cornflower-blue);
}

.app__links_item {
  padding: 0 6px 6px 5px;
  margin-right: 24px;

  cursor: pointer;
}

.app__links_item-active {
  border-bottom: 2px solid var(--color-cornflower-blue);
}

.app__content {
  padding-top: 26px;
}

.app__content_items_item,
.app__content_items_item-full:nth-child(n) {
  display: block;
  margin-bottom: 20px;
}

.app__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  margin-bottom: 20px;
}

.accent {
  color: var(--color-cornflower-blue);
}

.link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .app {
    padding: 17px 0 49px;
  }

  .app__title {
    margin-bottom: 10px;
  }

  .app__content_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .app__content_items_item {
    margin-right: 10px;
  }

  .app__content_items_item:nth-child(2n) {
    margin-left: 10px;
  }

  .app__content_items_item:nth-child(3n + 3) {
    grid-column: 1 / -1;
    margin-right: 0;
  }

  .app__content_items-full {
    grid-template-columns: 1fr;
  }

  .app__wrapper_btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
  }

  .app__btn {
    width: 156px;
  }
}

@media screen and (min-width: 1240px) {
  .app__title {
    padding-bottom: 58px;
  }

  .app__content_items {
    grid-template-columns: repeat(3, 1fr);
  }

  .app__content_items_item:nth-child(3n) {
    grid-column: 1 / -2;
  }

  .app__content_items_item:nth-child(9n) {
    grid-column: 2 / -1;
  }

  .app__content_items_item:nth-child(3) {
    grid-row: 2;
  }

  /* Написать margin: 0 10px 20px 0 ? у меня для всех определено, что они сразу 20px вниз или так оставить? */
  .app__content_items_item:nth-child(3n),
  .app__content_items_item:nth-child(6n) {
    margin-left: 0;
    margin-right: 10px;
  }

  .app__content_items_item:nth-child(4n),
  .app__content_items_item:nth-child(5n),
  .app__content_items_item:nth-child(7n),
  .app__content_items_item:nth-child(9n) {
    margin-right: 0;
    margin-left: 10px;
  }

  /* Переопределяю из-за того, что сверху они становятся другими и так же не могу перенести их наверх из-за этого же */
  .app__content_items_item:nth-child(8n),
  .app__content_items_item:nth-child(10n) {
    margin-left: 0;
    margin-right: 10px;
  }

  /* И никак не смог найти одну зависимость, постарался сократить и объядинить все в одно */
  .app__content_items_item:not(:nth-child(4n))
  :not(:nth-child(3n))
  :not(:nth-child(5n))
  :not(:nth-child(6n))
  :not(:nth-child(7n))
  :not(:nth-child(9n))
  :not(:nth-child(8n))
  :not(:nth-child(10n)) {
    margin: 0 10px;
  }

  .app__content_items-full {
    grid-template-columns: 1fr;
  }

  .app__content_items_item-full:nth-child(3) {
    grid-row: auto;
  }
}
